<div >
<mat-toolbar *ngIf="globalSignalStoreService.isToolBarShowed()" color="primary">
  <!-- <button mat-icon-button (click)="drawer.toggle()"> -->
    <button *ngIf="authService.roles?.includes('EDITOR') && !globalSignalStoreService.isHomePage()" mat-icon-button (click)="globalSignalStoreService.toogleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="spacer"></span>
  <a mat-button routerLink="">Home</a>
  <a *ngIf="authService.roles?.includes('EDITOR')" mat-button routerLink="admin">Dashboard</a>
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
    Menu
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
  @if(authService.isAuthenticated){
    <span style="font-size: 14px; font-weight: bold;">{{ authService.username }}</span>
    <button mat-button color="accent" (click)="handleLogout()">Logout</button>

  }
  @else {
    <button mat-button color="accent" routerLink="login">Login</button>

  }
  
</mat-toolbar>
<router-outlet></router-outlet>
</div>

<!-- <mat-drawer-container>
  <mat-drawer #drawer mode="side" position="start" style="max-width: 300px;">
    <mat-nav-list>
      <mat-list-item>
        <button mat-button routerLink="/customers">Customers</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/products">Products</button>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div style="height: 580px;"> <router-outlet></router-outlet></div>
   
  </mat-drawer-content>
</mat-drawer-container>   -->
